<script src="javascripts/vendor/zepto.min.js"></script>
<script src="javascripts/vendor/handlebars-v4.0.5.js"></script>
<script src="javascripts/vendor/socket.io-1.4.5.js"></script>
<script src="javascripts/game_page.js"></script>
<script id="turn-template" type="text/x-handlebars-template">
    <h3>\{{move}}'s turn</h3>
</script>
<script id="entry-template" type="text/x-handlebars-template">
    \{{#each board as |row i|}}
    <tr>
        \{{#each row as |space j|}}
        <td id=\{{space.id}} class="space" onclick="selectSpace('\{{space.id}}', \{{space.pos.x}}, \{{space.pos.y}}, \{{space.isEmpty}})">\{{space.icon}}</td>
        \{{/each}}
    </tr>
    \{{/each}}
</script>

<h1>{{title}}</h1>
<div id="turn"></div>
<div class="container">
    <table class="{{playerColor}}" id="chessTable" border="1"></table>
    <form class="chat-container" action="">
        <ul id="messages" class="chat container-grow"></ul>
        <input id="chat-input" autocomplete="off" /><button id="chat-send">Send</button>
    </form>
</div>